<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.1.0-beta1" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod" version="21.1.11.1" targetFramework="net35" />
  <package id="MonoMod.Common" version="21.1.12.5" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="21.1.11.1" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour.HookGen" version="21.1.11.1" targetFramework="net35" />
  <package id="MonoMod.Utils" version="21.1.11.1" targetFramework="net35" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net35" />
</packages>